<a href="https://colab.research.google.com/github/ramsoi53/ramsoi/blob/main/Easiest_TPU_May.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import os
os.chdir('/content/drive/MyDrive/Colab Notebooks/files')

In [2]:
!pip install catboost

Requirement already satisfied: catboost in /usr/local/lib/python3.7/dist-packages (1.0.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.7/dist-packages (from catboost) (5.5.0)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.21.6)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from catboost) (1.3.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2022.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->catboost) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (3.0.8)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (1.4.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->catboost) (0.11.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib->catboost) (4.2.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.7/dist-packages (from plotly->catboost) (8.0.1)

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.lines as mlines
from collections import Counter
import itertools

from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from catboost import CatBoostClassifier
from xgboost import XGBClassifier

In [4]:
#Check data
df_train = pd.read_csv('train.csv', index_col=0)
df_test = pd.read_csv('test.csv', index_col=0)

In [5]:
df_train.head()

,f_00,f_01,f_02,f_03,f_04,f_05,f_06,f_07,f_08,f_09,...,f_22,f_23,f_24,f_25,f_26,f_27,f_28,f_29,f_30,target
id,,,,,,,,,,,,,,,,,,,,,
0,-1.373246,0.238887,-0.243376,0.567405,-0.647715,0.839326,0.113133,1,5,1,...,-2.540739,0.766952,-2.730628,-0.208177,1.363402,ABABDADBAB,67.609153,0,0,0
1,1.697021,-1.710322,-2.230332,-0.545661,1.113173,-1.552175,0.447825,1,3,4,...,2.278315,-0.633658,-1.217077,-3.782194,-0.058316,ACACCADCEB,377.096415,0,0,1
2,1.681726,0.616746,-1.027689,0.810492,-0.609086,0.113965,-0.708660,1,0,2,...,-1.385775,-0.520558,-0.009121,2.788536,-3.703488,AAAEABCKAD,-195.599702,0,2,1
3,-0.118172,-0.587835,-0.804638,2.086822,0.371005,-0.128831,-0.282575,3,2,1,...,0.572594,-1.653213,1.686035,-2.533098,-0.608601,BDBBAACBCB,210.826205,0,0,1
4,1.148481,-0.176567,-0.664871,-1.101343,0.467875,0.500117,0.407515,3,3,0,...,-3.912929,-1.430366,2.127649,-3.306784,4.371371,BDBCBBCHFE,-217.211798,0,1,1

In [6]:
df_train.isnull().sum().sum(), df_test.isnull().sum().sum()

(0, 0)

In [7]:
df_train.dtypes, df_test.dtypes

(f_00      float64
 f_01      float64
 f_02      float64
 f_03      float64
 f_04      float64
 f_05      float64
 f_06      float64
 f_07        int64
 f_08        int64
 f_09        int64
 f_10        int64
 f_11        int64
 f_12        int64
 f_13        int64
 f_14        int64
 f_15        int64
 f_16        int64
 f_17        int64
 f_18        int64
 f_19      float64
 f_20      float64
 f_21      float64
 f_22      float64
 f_23      float64
 f_24      float64
 f_25      float64
 f_26      float64
 f_27       object
 f_28      float64
 f_29        int64
 f_30        int64
 target      int64
 dtype: object, f_00    float64
 f_01    float64
 f_02    float64
 f_03    float64
 f_04    float64
 f_05    float64
 f_06    float64
 f_07      int64
 f_08      int64
 f_09      int64
 f_10      int64
 f_11      int64
 f_12      int64
 f_13      int64
 f_14      int64
 f_15      int64
 f_16      int64
 f_17      int64
 f_18      int64
 f_19    float64
 f_20    float64
 f_21    float64
 f_22    float64
 f_23    float64
 f_24    float64
 f_25    float64
 f_26    float64
 f_27     object
 f_28    float64
 f_29      int64
 f_30      int64
 dtype: object)

In [8]:
data=[df_train, df_test]

for dataset in data:
  dataset.drop('f_27', axis=1)